syntax: glob
.settings/**
.idea/**

target/
.project
.classpath
.settings/
.settings/**
prototypes/solr/.metadata/**
scripts+configurations/**/lib/**
scripts+configurations/**/backup/**
*.bz2
*.log
*.orig

.metadata/**
tests\ats-gks\ats-gks.iml
tests\ats-gks\gks-ats.iml
tests/ats-gks/test-output/
components/gks-server/gks-plugins/gks-feedback/data
tools/testbed/testbed-candidates/gks-candidate/src/gks/candidate/candidate-data
tools/testbed/testbed-candidates/gks-candidate/src/gks/data
tools/testbed/testbed-candidates/gks-candidate/src/gks/similarwords
components/gks-server/gks-server-assembly/src/gks/data
components/gks-server/gks-server-assembly/src/gks/similarwords
components/gks-server/gks-server-assembly/similarwords
components/gks-server/gks-server-assembly/data
tools/testbed/testbed-candidates/gks-candidate/src/gks/candidate-data
tools/testbed/testbed-candidates/gks-candidate/data

components/gks-server/gks-server-assembly/src/data
node_modules/
grunt-src/dist/
components/gks-server/gks-plugins/elasticsearch-analysis-icu/.local-execution-hints.log
components/gks-server/gks-server-assembly/data

g:/**
*/test-output/**
components/gks-server/elasticsearch-transport-wares/bin/**
components/gks-server/gks-plugins/gks-restapi/bin/**
tools/testbed/testbed-candidates/gks-candidate/pom.xml.versionsBackup
components/gks-server/gks-plugins/gks-restapi/pom.xml.versionsBackup
components/gks-server/gks-plugins/pom.xml.versionsBackup
tools/testbed/testbed-candidates/gks-candidate-es-plugin/pom.xml.versionsBackup
tools/testbed/testbed-app/qna.testrunner/pom.xml.versionsBackup
components/pom.xml.versionsBackup
components/gks-ui/pom.xml.versionsBackup
components/gks-server/pom.xml.versionsBackup
components/gks-server/gks-server-assembly/src/main/resources/gks.yml
components/gks-server/gks-server-assembly/pom.xml.versionsBackup
components/gks-server/gks-plugins/gks-nlp/pom.xml.versionsBackup
components/gks-server/gks-plugins/gks-nlp/linguatools.disco/pom.xml.versionsBackup
components/gks-server/gks-plugins/gks-nlp/gks-tokenizer/pom.xml.versionsBackup
components/gks-server/gks-plugins/gks-nlp/gks-similarwords/pom.xml.versionsBackup
components/gks-server/gks-plugins/gks-feedback/pom.xml.versionsBackup
components/gks-server/gks-commons/pom.xml.versionsBackup
components/gks-server/gks-commons/gks-stat/pom.xml.versionsBackup
components/gks-server/gks-commons/gks-stat/gks-stat-server/pom.xml.versionsBackup
components/gks-server/gks-commons/gks-stat/gks-stat-sdk/pom.xml.versionsBackup
components/gks-server/gks-commons/gks-stat/gks-stat-client/pom.xml.versionsBackup
components/gks-server/gks-commons/gks-sdk/pom.xml.versionsBackup
components/gks-server/gks-commons/es-rest/pom.xml.versionsBackup
components/gks-server/gks-commons/es-rest/es-rest-server/pom.xml.versionsBackup
components/gks-server/gks-commons/es-rest/es-rest-commons/pom.xml.versionsBackup
components/gks-server/gks-commons/es-rest/es-rest-client/pom.xml.versionsBackup
components/gks-server/genesys-environment-test/src/test/java/com/genesys/knowledge/server/configuration/test/Test.java
components/gks-server/genesys-environment-test/src/main/resources/test-kbs.json
components/gks-server/genesys-environment-test/src/main/resources/gks-node.yml
components/gks-server/genesys-environment-test/src/main/java/com/genesys/knowledge/server/configuration/app/handlers/Test.java
components/gks-server/genesys-environment-test/src/main/java/com/genesys/knowledge/server/configuration/TestConfigServerEntryPoint.java
components/gks-server/genesys-environment-test/pom.xml.versionsBackup
components/gks-server/elasticsearch-transport-wares/pom.xml.versionsBackup
components/gks-launcher/pom.xml.versionsBackup
*.iml
components/gks-dashboard/build
components/gks-ui/gks-agent-ui/build
components/gks-ui/gks-sample-ui/build
magnolia-deployment/magnoliaAuthor-*
binaries/**
${gkc.infinispan}
persisted-repository.dat
grunt-src/gpm_components
grunt-src/dest/gpm_components
grunt-src/dest/
components/gks-ui/src/main/webapp/**
components/plugins/iws/KnowledgePugin/KnowledgePlugin/bin/**
components/plugins/iws/KnowledgePugin/KnowledgePlugin/obj/**
*/*jar.output.dir*/
release/tools/indexer/**

components/cms/gks-cms/atomikos
workingcache/**
gks-cms.kwlp/**
gks-cms.kwps/**
